
body{
	background-color: #FFC074;

}
/* Navbar */
.navbar{
	border-bottom:#008ed6 solid 3px;
}
.c-navbar-brand{
	font-family: 'Cinzel Decorative', cursive;
}
.c-nav-link{
	font-family: 'Cinzel Decorative', cursive;
}
.c-active{
	background-color: #D06224;
	color: #fff !important;
}

.c-nav-link:hover{
	background-color: #D06224;
	color: #fff !important;
}
/* navbar social icon */
ul.social-share li a {
    font-size: 18px;
    color: #eee;
    background: #555;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    border: 2px solid #444;
	margin: 0px 5px 0px 0px;
}
ul.social-share li a.facebook {
    color: #fff;
    background: #3b5998;
    border: 2px solid #3b5998;
}
ul.social-share li a.facebook:hover {
    color: #3b5998;
    background: transparent;
}
ul.social-share li a.twitter {
    color: #fff;
    background: #1da1f2;
    border: 2px solid #1da1f2;
}
ul.social-share li a.twitter:hover {
    color: #1da1f2;
    background: transparent;
}
/* Home Section */
#home-section{
	position:relative;
	background-size:cover;
	background-attachment: fixed;
	min-height:450px;
}
.home-inner{
	padding-top:100px;

}
.dark-overlay{
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	left:0;
	top:0;
	width:100%;
	min-height:450px;
}
.card-form{
	opacity: 0.95;
	background-color: #D06224;
	margin:30px 0px 0px 0;
}
.explore-text{
	color:#000;
}

.quick-search{
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}
/* Footer */
.c-footer{
	background-color: #D06224;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.c-btn{
	font-size: 18px;
}
/* About Us */
.unit-amenities{
	font-family: 'Montserrat', sans-serif;
}
.unit-amenities-inline li{
	display:inline;
}

/* Rent Now Button */
.btn-rent-now{
	background-color: #D06224;
	color:#fff;
}

/* Area Attraction */

.table-contact{
	width: 200px;
}